html {
    font-size: 16px; /* Sets the base font size for the whole document */
    height: 100%; /* Ensure html takes full height */
  }

body {
    margin: 0;
    font-family: 'Inter', 'Roboto', 'Open Sans', sans-serif;
    background-color: #f1f6fb; /* Primary background */
    color: #333333;            /* Neutral text color */
    height: 100%; /* Ensure body takes full height */
    overflow: hidden;
  }
  

h1 {
    color: #333333;        
    font-size: 1.4em;
    margin-bottom: 20px; 
    justify-content: space-between;
    text-align: left;
    display: flex
  }

h2 {
    color: #333333;        
    font-size: 1.2rem;
    text-align: left;
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-right: 16px;
    margin-bottom: 20px; 
}

p {
font-size: 1rem;
line-height: 1.5;
margin: 0 0 16px;
} 

.bento-container {
  overflow: auto; /* Ensure overscroll functionality */
  height: 94vh; /* Ensure it takes the full viewport height */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 300px 200px;
  gap: 25px;
  padding: 20px;
  margin-bottom: 20px; /* Add margin to the bottom */
  grid-template-areas:
    "card1 card2 card2"
    "card3 card4 card6"
    "card7 card5 card6";
}

/* Add media query for smaller screens */
@media (max-width: 850px) {
  .bento-container {
    overflow: auto; /* Ensure overscroll functionality */
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: auto; /* Adjust rows automatically */
    gap: 15px; /* Reduce gap between items */
    padding: 10px; /* Reduce padding */
    padding-bottom: 40px; /* Add padding to the bottom */
    margin-bottom: 20px; /* Add margin to the bottom */
    height: 85vh;
    grid-template-areas:
      "card1"
      "card2"
      "card6"
      "card3"
      "card4"
      "card5"
      "card7";
  }

  .bento-item {
    padding: 10px 20px; /* Adjust padding for smaller screens */
  }

  .card2, .card3, .card4, .card5, .card6, .card7 {
    min-width: auto; /* Remove minimum width constraint */
  }
 
  .card1 {
    height: 180px;
  }
  .card2 {
    height: 280px;
  }
  .card3{
    height: 300px;
  }
  .card4{
    height: 340px;
  }
  .card5{
    height: 160px;
  }
  .card6{
    height: 400px;
  }
  .card6 .inner-box{
    height: 100%;
  }
  .card7{
    height: 160px;
  }


}

/* Add media query for two-column layout */
@media (min-width: 850px) and (max-width: 1400px) {
  .bento-container {
    overflow: auto; /* Ensure overscroll functionality */
    grid-template-columns: 1fr 1fr; /* Two column layout */
    grid-template-rows: auto; /* Adjust rows automatically */
    gap: 20px; /* Adjust gap between items */
    padding: 15px; /* Adjust padding */
    padding-bottom: 30px; /* Add padding to the bottom */
    margin-bottom: 50px; /* Add margin to the bottom */
    height: 90vh;
    grid-template-areas:
      "card1 card1"
      "card2 card3"
      "card5 card7"
      "card5 card4"
      "card6 card4";
  }

  .bento-item {
    padding: 12px 28px; /* Adjust padding for medium screens */
  }

  .card2, .card3, .card4, .card5, .card6, .card7 {
    min-width: auto; /* Remove minimum width constraint */
  }

  .card2 {
    height: 280px;
  }

  .card6{
    height: fit-content; /*avoid scrolling on bento boxes*/
  }

  .card6 .inner-box{
    height:fit-content; /*makes the inside box wrap the text nicely*/
  }

}

/* Add media query for fullscreen */
@media (min-width: 1400px) {
  .bento-container {
    height: 100vh; /* Ensure it takes the full viewport height */
      }
}

  .bento-item {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px 36px;
    padding-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 150px; /* Set a minimum height for the bento box cards */
    overflow: auto; /* Enable scroll when overflowing */
  }

  .inner-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%; 
    border: none;
    border-radius: 10px;
    margin-top: 0px;
    padding: 15px;
    position: relative;
    overflow: auto;
  }

  .inner-box p {
    width: 100%;
    height: 100%;
    text-align: left;
    margin: 0;
    padding: 10px 15px; /* Ensure content adjusts with the box */
    box-sizing: border-box;
  }
 
  /* Specific grid area assignments and colors */
  .card1 {
    grid-area: card1;
  }

  .card2 {
    grid-area: card2;
  }

  .card3 {
    grid-area: card3;
    padding: 12px 36px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }

  .card4 {
    grid-area: card4;
  }

  .card5 {
    grid-area: card5;
  }

  .card6 {
    grid-area: card6;
  }

  .card7 {
    grid-area: card7;
  }


.music-container {
  display: flex;
  width: 100%;
  gap: 15px;
  flex: 1;
  flex-direction: row; /* Stack horizontally */
  overflow: hidden; /* Ensure it fits within the parent container */
  align-items: center;
}

.play-button-container {
  margin: 8px;
  border-radius: 10px;
  background: #ffffff;
  padding: 22px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  aspect-ratio: 1 / 1; /* Ensure width is the same as height */
}

.play-button {
  width: 0;
  height: 0;
  border-left: 22px solid #ff4d4d; /* Accent red color */
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.song-details {
  display: flex;
  flex-direction: column;
}

.song-title {
  font-weight: bold;
  color: #333333;
}

.artist-name {
 color: #909090;
}

.pastel-green {
    background-color: #effef0;
}

.pastel-blue {
    background-color: #e7f1ff;
}

.pastel-yellow {
    background-color: #fdf7ea;
}

.pastel-purple {
    background-color: #faf2fd;
}

.pastel-red {
  background-color: #fdf2f2;
}

.pastel-indigo {
  background-color: #f2f3fd;
}

.grey-text {
    color: #707070;
}

.accent-yellow {
    color: #faae3c;
}

.accent-red {
    color: #ff4d4d;
}

.accent-green {
    color: #67cf6b;
}