:root {
  --primary-bg: #F8F9FA;
  --card-bg: #FFFFFF;
  --accent-green: #24A148;
  --accent-blue: #3A8FB7;
  --accent-yellow: #faae3c;
  --accent-purple: #000;
  --pastel-green: #effef0;
  --pastel-blue: #e7f1ff;
  --pastel-yellow: #fdf7ea;
  --pastel-purple: #f6f2fd;
  --neutral-text: #333333;
  --grey-text: #909090;
}

html {
    font-size: 16px; /* Sets the base font size for the whole document */
  }

body {
    margin: 0;
    font-family: 'Inter', 'Roboto', 'Open Sans', sans-serif;
    background-color: #f1f6fb; /* Primary background */
    color: var(--neutral-text);            /* Neutral text color */
  }
  

h1 {
    color: var(--neutral-text);        
    font-size: 1.4em;
    margin-bottom: 20px; 
  }

h2 {
    color: var(--neutral-text);        
    font-size: 1.2rem;
    text-align: left;
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-right: 16px;
    margin-bottom: 20px; 
}

p {
font-size: 1rem;
line-height: 1.5;
margin: 0 0 16px;
} 

.bento-container {
    height: 94vh;
    min-height: 80vh; /* 80% of viewport height */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
    padding: 20px;
    grid-template-areas:
      "card1 card1 card2"
      "card3 card4 card6"
      "card3 card5 card6";
  }
  
  .bento-item {
    background: var(--card-bg);
    border-radius: 10px;
    padding: 15px 36px;
    padding-bottom: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }

  .inner-box {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: var(--pastel-purple);
    border: none;
    border-radius: 10px;
    margin-top: 0px;
    padding: 10px 30px;
    overflow-y: auto; /* Enables vertical scrolling if content overflows */
  }

  .conjugation-box {
    background-color: var(--pastel-green); 
    border: none;
  }

  .vocab-boxes {
    display: flex;
    flex-direction: column;
    gap: 8px; 
  }
  
  .vocab-box {
    display: flex;
    justify-content: space-between; /* Spanish word on left, English word on right */
    align-items: center;
    padding: 6px;
    padding-inline: 15px;
    border: none;
    border-radius: 20px;
    background-color: var(--pastel-blue);
  }
  
  .english-word {
    font-style: italic;
    color: var(--grey-text);
  }
  
  .spotify-embed {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }  
  
  /* Specific grid area assignments and colors */
  .card1 {
    grid-area: card1;
  }
  
  .card2 {
    grid-area: card2;
  }

  .card3 {
    grid-area: card3;
    display: flex;
    gap: 25px;
    flex-direction: column;
    height: 100%; 
  }
  .card-top {
    flex: 2;  /* Takes twice the space compared to the bottom */
    padding: 12px 36px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  .card-bottom {
    flex: 1;
    padding: 12px 36px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .card4 {
    grid-area: card4;
  }

  .card5 {
    grid-area: card5;
  }

  .card6 {
    grid-area: card6;
  }

  /* Colour palette */
  .bento-yellow {
    background-color: #fff5b1; /* Light yellow */
  }
  .bento-purple {
    background-color: #dcd0ff; /* Light lavender */
  }
  .bento-blue {
    background-color: #b3e5fc; /* Light blue */
  }
  .bento-pink {
    background-color: #ffc1e3; /* Light pink */
  }
  .bento-peach {
    background-color: #ffdcb0; /* Peach */
  }
  .bento-lilac {
    background-color: #e8d3ff; /* Another light purple */
  }
  