.tenses-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 0px;
  padding-left: 14px;
  padding-top: 10px;
}

.tense-item {
  padding: 1px;
  padding-inline: 7px;
  background-color: #a1d795;
  border-radius: 5px;
  cursor: grab;
  height: 21px;
  line-height: 20px;
}

.blank {
  display: inline-block;
  width: 100px;
  height: 22px;
  background-color: #ffffff;
  text-align: center;
  line-height: 20px;
  margin: 0 5px;
  border: 1px solid #a1d795;
  border-radius: 5px;
  outline: none;
}

.paragraph-container {
  display: flex; /* Adjust the height as needed */
  flex-direction: column;
  overflow-y: auto;
}

.paragraph-container p {
  line-height: 1.7 !important;
}

.input-field {
  display: inline-block;
  width: 100px;
  height: 22px;
  line-height: 20px;
  background-color: #ffffff;
  text-align: center;
  padding: 0px;
  margin: 1px 5px;
  border: 1px solid #88b584;
  border-radius: 5px;
  outline: none;
  color: #000;
  font-size: 1rem;
}

.correct {
  background-color: #a1d795 !important; /* green */
  transition: background-color 0.8s ease-in, background-color 0.8s ease-out 0.8s;
}

.incorrect {
  background-color: #f8d7da !important; /* red */
  transition: background-color 0.8s ease-in;
}
