.tenses-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 0px;
  padding-left: 14px;
  padding-top: 10px;
}

.tense-item {
  padding-inline: 5px;
  background-color: #a1d795;
  border-radius: 5px;
  cursor: grab;
  height: 22px;
  line-height: 20px;
  border: 1px solid #88b584;
}

.blank {
  display: inline-block;
  width: 100px;
  height: 22px;
  background-color: #ffffff;
  text-align: center;
  line-height: 20px;
  margin: 0 5px;
  border: 1px solid #88b584;
  border-radius: 5px;
  outline: none;
}

.paragraph-container {
  display: flex; /* Adjust the height as needed */
  flex-direction: column;
  overflow-y: auto;
  
}

.input-field {
  display: inline-block;
  width: 100px;
  height: 22px;
  line-height: 20px;
  background-color: #ffffff;
  text-align: center;
  padding: 0px;
  margin: 1px 5px;
  border: 1px solid #88b584;
  border-radius: 5px;
  outline: none;
  color: #000;
  font-size: 1rem;
}
