.reflection-textarea {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    font-family: 'Inter', 'Roboto', 'Open Sans', sans-serif;
    width: 100%;
    min-height: 80px;
    height: calc(100% - 20px); /* Adjust height to stop where the reflection controls are */
    border: none;
    background: #fdf7ea; /* var(--pastel-yellow) */
    border-radius: 10px;
    padding: 20px;
    font-size: 1rem;
    resize: none;
    
}

.reflection-textarea:focus {
    outline: none !important;
    border: 1px solid #faae3c; /* var(--accent-yellow) */
}
  
.reflection-controls {
    display: flex;
    align-items: end;
    width: 100%;
    max-width: 100%;  
    margin-bottom: -6px;
    padding-top: 3px;
}
  
.word-count {
    font-size: 0.9rem;
    margin: 0;      
    flex-shrink: 0; /* Prevent word count from shrinking */
    width: 100px; /* Ensure enough space for word count */
}

.word-count.green {
    color: #67cf6b; /* Same color as the correction button */
}
  
.reflection-buttons {
    display: flex;
    gap: 8px;
}
  
.reflection-btn {
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 5px;
    border: none;
    border-radius: 20px;
    background-color: #3A8FB7; /* var(--accent-blue) */
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
}
  
.reflection-btn.historial {
    background-color: #bebebe;
    margin-left: auto;
}

.accent-btn {
    padding-top: 2px;
    width: 20px;
    border: none;
    border-radius: 5px;
    background-color: #fdf7ea; /* var(--pastel-yellow) */
    font-size: 0.9rem;
    cursor: pointer;
    margin: 2px;
}

.accent-buttons-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    transform: translateX(-25px); /* Shift content 10px to the left */
}

.history-entry-box {
    margin-bottom: 8px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff; 
    max-width: 100%; 
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    overflow: hidden; 
    height: 20px; /* Increase height to fit the text */
    display: flex;
    align-items: center; /* Vertically align text in the middle */
}

.history-text {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: fit-content; /* Ensure the text takes the full width of the box */
   
}

.selected-entry {
    margin-top: 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%; /* Occupy the whole inner box */
    overflow: auto; /* Allow scrolling if content overflows */
}

.selected-entry h3 {
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.selected-entry p {
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
}

/* Add media query for mobile versions */
@media (max-width: 850px) {
    .accent-btn {
        display: none; /* Hide accent buttons in mobile versions */
    }
}