.reflection-textarea {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    font-family: 'Inter', 'Roboto', 'Open Sans', sans-serif;
    width: 100%;
    min-height: 80px;
    height: calc(100% - 20px); /* Adjust height to stop where the reflection controls are */
    border: none;
    background: #fdf7ea; /* var(--pastel-yellow) */
    border-radius: 10px;
    padding: 20px;
    font-size: 1rem;
    resize: none;
}

.reflection-textarea:focus {
    outline: none !important;
    border: 1px solid #faae3c; /* var(--accent-yellow) */
}
  
.reflection-controls {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    max-width: 100%;  
    margin-top: 5px;
}
  
.word-count {
    font-size: 0.9rem;
    color: #909090; /* var(--grey-text) */
    margin: 0;      
}

.word-count.green {
    color: #67cf6b; /* Same color as the correction button */
}
  
.reflection-buttons {
    display: flex;
    gap: 8px;
}
  
.reflection-btn {
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 5px;
    border: none;
    border-radius: 20px;
    background-color: #3A8FB7; /* var(--accent-blue) */
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
}
  
.reflection-btn.correction {
    background-color: #67cf6b;
}
  
.reflection-btn.historial {
    background-color: #bebebe;
}

.accent-btn {
    padding-top: 2px;
    width: 20px;
    border: none;
    border-radius: 5px;
    background-color: #fdf7ea; /* var(--pastel-yellow) */
    color: #909090; /* var(--grey-text) */
    font-size: 0.9rem;
    cursor: pointer;
    margin: 2px;
}