.vocab-boxes {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between; /* Spread out vocab boxes */
  height: 100%; /* Ensure the container takes full height */
}

.vocab-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.vocab-box-wrapper {
  position: relative;
}

.vocab-box {
  background: #e6f1ff;
  border-radius: 10px;
  padding: 10px;
  padding-inline: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background 0.8s ease, color 0.8s ease, opacity 0.8s ease;
  display: flex;
  justify-content: space-between; /* Spanish word on left, English word on right */
  align-items: center;
  flex-grow: 1; /* Allow vocab boxes to grow and fill the container */
  border: none;
  cursor: pointer;
  outline: none; 
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
}

.vocab-box.faded {
  background: #f8f8f8;
  color: transparent;
  pointer-events: none;
  transition: background 0.8s ease, color 0.8s ease, opacity 0.8s ease;
}

.vocab-box.faded .spanish-word, 
.vocab-box.faded .english-word {
  color: transparent;
  transition: color 0.8s ease;
}

.vocab-box.answer {
  background: #f8f8f8;
  color: #333; /* Ensure the color is set correctly */
  cursor: default;
  padding: 7px;
  padding-inline: 18px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
  color: #333; /* Ensure the color is set correctly */
}

.english-word {
  font-style: italic;
  color: #909090;
  font-size: 1rem;
}

.spanish-word {
  color: #333;
  font-size: 1rem;
}

.text-entry {
  border: none;
  border-radius: 5px;
  padding: 3px;
  font-size: 1rem;
  width: 120px; /* Slightly longer */
}

.text-entry:focus {
  outline: 1px solid grey; /* Grey outline when clicked */
}

/* Add media query for mobile versions */
@media (max-width: 1400px) {
  .vocab-grid {
    grid-template-columns: 1fr; /* Single column layout */
  }
}

.fade-in {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.vocab-box.answer.correct {
  background: #d8ffda;
  transition: background 0.8s ease;
}

.vocab-box.answer.incorrect {
  background: #ffe7e7;
  transition: background 0.8s ease;
}

