.vocab-boxes {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between; /* Spread out vocab boxes */
  height: 100%; /* Ensure the container takes full height */
}

.vocab-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.vocab-box-wrapper {
  position: relative;
}

.vocab-box {
  background: #e6f1ff;
  border-radius: 10px;
  padding: 10px;
  padding-inline: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between; /* Spanish word on left, English word on right */
  align-items: center;
  flex-grow: 1; /* Allow vocab boxes to grow and fill the container */
  border: none;
  cursor: pointer;
  outline: none; 
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
}

.vocab-box.faded {
  background: #f8f8f8;
  color: transparent;
  pointer-events: none;
  transition: background 0.8s ease, color 0.8s ease, opacity 0.8s ease;
}

.vocab-box.faded .spanish-word, 
.vocab-box.faded .english-word {
  color: transparent;
  transition: color 0.8s ease;
}

.hidden {
  visibility: hidden;
}

.english-word {
  font-style: italic;
  color: #909090;
  font-size: 1rem;
}

.spanish-word {
  color: #333;
  font-size: 1rem;
}

/* Add media query for mobile versions */
@media (max-width: 1400px) {
  .vocab-grid {
    grid-template-columns: 1fr; /* Single column layout */
  }
}
